@media (max-width:1342px) {
    .how-it-works{
        height: auto !important;
        &__main{
            justify-content: space-around !important;
            &-card{
                margin-top: 30px;
            }
        }
        &__title{
            min-height: 250px;
        }
    }
}

@media (max-width:1060px) {
    header {
        min-height: 1080px !important;
        height: auto !important;

        nav ul {
            min-width: 320px !important;

            li {
                margin-top: 30px;
            }
        }

        nav .logo {
            margin-top: 30px;
        }
    }
}

.media-img-container {
    display: none;
}

@media (max-width:771px) {
    .about {
        margin-top: -270px + 95px !important;
    }

    .about__slider {
        flex-flow: column-reverse wrap;

        .img {
            display: none !important;
        }

        .media-img-container {
            display: flex;
            max-height: 150px;

            .img {
                display: flex !important;
                justify-content: flex-end;
                align-items: center;
            }
        }
    }
}

@media (max-width:740px) {
    header {
        min-height: 1080px !important;

        nav {
            ul {
                margin-top: 40px;
            }
        }

        .title_top > h1 {
            font-size: 40px !important;
            line-height: normal !important;
        }
    }
}

@media (max-width:650px) {
    .slider-items-container {
        flex-wrap: wrap !important;
        margin-top: 30px;

        img {
            min-width: 184.69px !important;
            max-height: 100% !important;
        }
    }

    .about {
        //min-height: 880px + 100px !important;
    }
}

@media (max-width:624px) {
    .about {
        min-height: 880px + 200px !important;

        .slider-items-container {
            img:last-child {
                margin-top: 40px;
            }
        }
    }
}

header {
    background-attachment: fixed;
}

@media (max-width:514px) {
    .about {
        margin: -50px auto 0 auto;
    }

    header {
        min-height: 1200px !important;
    }
}

@media (max-width:420px) {
    header {
        .title_top {
            h1 {
                font-size: 30px !important;
            }
        }

        .title_bot {
            font-size: 14px !important;
        }
    }
}

@media (max-width:370px) {
    nav ul {
        margin-left: -40px !important;
        justify-content: space-around !important;
    }
}

@media (max-width:340px) {
    .wrapper {
        width: 120%;
    }
}

@media(max-width:330px) {
    header {
        .title_top {
            letter-spacing: normal !important;
        }
    }
}
